/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: normal;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(800px - (#{$spacing-unit} * 2));
    max-width:         calc(800px - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(800px - (#{$spacing-unit}));
        max-width:         calc(800px - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

#fieldsets {
  display: flex;
  margin-bottom: 1em;
  fieldset {
    flex:1;
    &:first-child {
      order:2;
      margin-left: 2em;
      form {
        display: flex;
        a {
          order:2;
        }
      }
    }
  }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

ul.inline {
    &, li {
        display: inline;
        margin: 0;
        padding: 0;
    }
    li:after {
        content: ', ';
    }
    li:last-child:after {
        content: '';
    }
}

/* colors */

// .publication {
//     background-color: #C2FF75;
// }
.draft, .public-draft {
    background-color: #FFC6C6;
}

.maintenance {
    background-color: #eee;
}

.nextstage:empty {
    background-color: #ddd;
}

.contributors {
  width: 100px;
  a {
    white-space: nowrap;
  }
}

th small {
  display: block;
  line-height: 1;
  font-size: .8em;
  a, a:visited, a:hover, a:focus {
    font-weight: normal;
  }
}

.note {
  p {
    font-size: .8em;
    font-weight: normal;
    margin-bottom: 0;
  }
  a {text-decoration: underline;}
}

// Customization
.custom tbody tr {
  display: none;
}

/* Matches not working in non-safari :-/
.custom.prio-only tbody tr[data-prio=true],
.custom.urgency-high tbody tr[data-urgency="5"],
.custom.effort-low tbody tr:matches([data-effort="0"], [data-effort="1"], [data-effort=""]),
.custom.stage-draft tbody tr:matches([data-stage="public-draft"], [data-stage="draft"]), {
  display: table-row;
}
*/

.custom.active-only  tbody tr[data-active=true],
.custom.urgency-high tbody tr[data-urgency="5"],
.custom.effort-low   tbody tr[data-effort="0"],
.custom.effort-low   tbody tr[data-effort="1"],
.custom.effort-low   tbody tr[data-effort=""],
.custom.stage-draft  tbody tr[data-stage="public-draft"],
.custom.stage-draft  tbody tr[data-stage="draft"] {
  display: table-row;
}

button[aria-pressed=true] {
  font-weight: bold;
}

[class^="icon-"], [class*=" icon-"] {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

/* =======================================================================================
Example showing how to change the color/size of the icons:
.icon-name {
  font-size: 32px; // works because "width" & "height" were set using em units
  color: red; // works for single-colored icons, because "fill" was set to "currentColor"
}
======================================================================================== */

.icon-flag {
  width: 1.0357158780097961em;
  color: #f00;
}

.icon-github {
  width: 0.8571415841579437em;
}

.icon-draft {
  width: 0.8571445867419243em;
}

.icon-edit {
  width: 0.8454248607158661em;
}

.icon-requirements {
  width: 0.8571425080299377em;
}
